body {
  background-image: url("https://raw.githubusercontent.com/downloadableduck/random-images/refs/heads/main/2026-05-20_14.55.32.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

#PetsMod {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  //background-image: linear-gradient(to bottom, #000644, #3e3e3e);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-radius: 4px;
  border: 4px;
  font-size: 50px;
}


.icon {  
  display: flex;
  justify-content: center;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.button {
  display: flex;
  z-index: 1;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#fabric {
  text-align: left;
}

#neoforge {
  text-align: center;
}

#quilt {
  text-align: right;
}

#addons {
  font-weight: normal;
  position: relative;
  background-color: #1300ab;
  font-size: 30px;
  border-color: #001377;
  color: #00beaf;
  margin-top: -28px;
  margin-left: auto;
  margin-right: auto;
  left: 15%
}
#source {
  position: fixed;
  margin-bottom: auto;
  margin-left: 35px;
  width: 30px;
  bottom: 0px;
  font-size: 23px;
  padding: 2px 0;
  border-radius: 6px;
}

#addons .tooltip {
  font-weight: normal;
  background-color: #1a1a1a; 
  padding: 2px 0; 
  color: #929292;
  border-radius: 0px;     
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  text-align: center;
  //border: 1px;
  border-color: #606060;
  visibility: hidden;
  background-color: black;
  font-size: 7px;
  left: 15%;
  border-style: solid;
  border: 1px;
}

#fabric:hover {
    scale: 1.2;
}

#fabric:active {
  opacity: 0.75;
}

#neoforge:hover {
    scale: 1.2;
}

#neoforge:active {
  opacity: 0.75;
}

#quilt:hover {
    scale: 1.2;
}

#quilt:active {
  opacity: 0.75;
}

#github:hover {
  scale: 1.2;
}

#github:active {
  opacity: 0.75;
}

#curseforge:hover {
  scale: 1.2;
}

#curseforge:active {
  opacity: 0.75;
}

#modrinth:hover {
  scale: 1.2;
}

#modrinth:active {
  opacity: 0.75;
}

#pets-icon:hover {
  scale: 1.2;
}

#pets-icon:active {
  opacity: 0.75;
}

#browse-addons:hover {
  background-color: rgba(26, 26, 26, 0.5);
}

#make-addon:hover {
    background-color: rgba(26, 26, 26, 0.75);
}

#addons:hover .tooltip {
  visibility: visible;
}
#PetsMod p {
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  line-height: 16px;
  font-size: 16px;
}

#about {
  display: block;
  clear: both;
  width: 100%;   
  padding: 30px;
  max-width: 800px;
  margin: 60px auto; 
  padding: 40px;
  font-family: sans-serif;
  font-family: sans-serif;
  font-size: 16px;       
  color: #b3b3b3; 
  line-height: 1.6; 
  margin-bottom: 20px;
  background-color: rgba(22, 23, 26, 0.75); 
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

