body {
  background-image: url("https://raw.githubusercontent.com/downloadableduck/random-images/refs/heads/main/2026-05-20_15.04.20_2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
} #title {
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  //background-image: linear-gradient(to bottom, #000644, #3e3e3e);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-radius: 4px;
  border: 4px;
  font-size: 50px;
}

#title p {
  text-align: center;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  line-height: 16px;
  font-size: 16px;
}

.header {
  display: grid;
  justify-items: center;
  text-align: center;
  line-height: 300px;
  list-style-position: inside;
  font-weight: bold;
  //background-image: linear-gradient(to bottom, #000644, #3e3e3e);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  border-radius: 4px;
  border: 4px;
  font-size: 50px;
}

#official p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  top: 500px;
}

#unofficial p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  top: 850px;
}

.header p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  line-height: 16px;
  font-size: 16px;
}

.addon {
  line-height: 32px;
  font-weight: underline;
  font-size: 24px;
}

#back {
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0px;
  margin-bottom: auto;
  margin-left: 0px;
  position: fixed;
  background-color: #323232;
  width: 125px;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 32px;
  border: 4px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
}

#back:hover {
  scale: 1.2;
}

#back:active {
  opacity: 0.75;
}